@charset "UTF-8";
/* ESTILOS DEL FOOTER */
.contenidoFooter {
  width: 100%;
  background-color: #1f2931;
}
.contenidoFooter .piePagGpo1 .piePagBox figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoFooter .piePagGpo1 .piePagBox figure img {
  width: 200px;
}
.contenidoFooter .piePagGpo1 .piePagBox h4 {
  color: white;
  margin-bottom: 1.5em;
  font-size: 1.25em;
}
.contenidoFooter .piePagGpo1 .piePagBox p {
  color: white;
}
.contenidoFooter .piePagGpo2 {
  background-color: #202f3b;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

footer ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo {
  grid-area: logo;
}

.aboutus {
  grid-area: aboutus;
}

.siguenos {
  grid-area: siguenos;
}

/* media querys footer responsive */
@media (min-width: 920px) {
  .contenidoFooter .piePagGpo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
    grid-template-areas: "logo aboutus siguenos";
  }
}
@media (max-width: 920px) and (min-width: 550px) {
  .contenidoFooter .piePagGpo1 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    padding: 30px 0;
    grid-template-areas: "logo aboutus" "siguenos siguenos";
  }
  .acercaDe {
    position: relative;
    text-align: center;
    font-size: 1.1em;
    color: white;
  }
  .acercaDe h2 {
    font-size: 30px;
    margin: 35px;
    padding: 50px;
  }
}
@media screen and (max-width: 550px) {
  .contenidoFooter .piePagGpo1 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    padding: 30px 0;
    grid-template-areas: "logo" "aboutus" "siguenos";
  }
}
/* ESTILOS PAGINA CONTACTO primer seccion */
.contgral {
  color: aliceblue;
  padding: 0 1em;
}

.contform {
  box-shadow: 0 20px 20px 0 rgba(179, 18, 18, 0.3);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.formcontacto {
  background-color: #302e2e;
}
.formcontacto h3 {
  color: #ee0d0d;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  padding: 25px 0 20px 0;
}
.formcontacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formcontacto form .bloque {
  grid-column: 1/3;
}
.formcontacto form p {
  margin: 0;
  padding: 1em;
}
.formcontacto form input, .formcontacto form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  color: white;
  outline: none;
  border-bottom: 1px dotted rgb(2, 38, 238);
}
.formcontacto form button {
  margin: 0 25px 25px 25px;
  color: aliceblue;
  background: crimson;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.formcontacto form button:hover, .formcontacto form button:focus {
  background: #1c0abe;
  color: #fffb0d;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* ESTILOS PAGINA CONTACTO segunda seccion */
.forminfocontacto {
  background-color: black;
}
.forminfocontacto h4,
.forminfocontacto ul,
.forminfocontacto p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.forminfocontacto ul {
  list-style: none;
}
.forminfocontacto ul li {
  padding: 0.3em;
}

/* LARGE SCREENS SIZE */
@media (min-width: 920px) {
  .formcontacto {
    background-color: #181616;
    font-size: 20px;
  }
  .contform {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .forminfocontacto {
    background-color: rgb(83, 48, 48);
  }
  .forminfocontacto h4,
.forminfocontacto ul,
.forminfocontacto p {
    color: rgb(153, 63, 238);
    font-style: italic;
    margin-top: 1em;
  }
}
/* barra de navegacion*/
  /*efecto al pasar click sobre barra de navegacion*/

nav ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
  padding: 35px;
  width: 185px;
}
nav li {
  border-radius: 25px;
  margin-left: 50px;
}
nav li:hover {
  background: linear-gradient(90deg, rgb(12, 139, 0), rgb(111, 24, 168), rgb(204, 27, 101));
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* ESTILOS GRID inicio */

 

.menu .grid-item {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.menu {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  align-content: center;
  padding: 25px;
  grid-template-areas: "destilados destilados ron ron contacto contacto " "vino vino cerveza cerveza whisky whisky ";
}
.menu .grid-item a {
  text-decoration: none;
}
.menu .grid-item .front {
  color: white;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}
.menu .grid-item:hover .front {
  margin-top: -66.6%;
}
.menu .grid-item .back {
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 28px;
}

/* Imágenes del grid menu de index */
.menu .destilados .front {
  background-image: url("../img/CampoAgavero.jpg");
}
.menu .ron .front {
  background-image: url("../img/fabricaron.jpg");
}
.menu .vino .front {
  background-image: url("../img/Viniedo.jpg");
}
.menu .cerveza .front {
  background-image: url("../img/Cerveza.png");
}
.menu .whisky .front {
  background-image: url("../img/Whisky.jpg");
}
.menu .contacto .front {
  background-image: url("../img/contactanos.jpg");
}

/* Asignando areas del grid */
.destilados {
  grid-area: destilados;
}

.ron {
  grid-area: ron;
}

.whisky {
  grid-area: whisky;
}

.contacto {
  grid-area: contacto;
}

.cerveza {
  grid-area: cerveza;
}

.vino {
  grid-area: vino;
}

/* media querys responsive grid */
@media screen and (max-width: 920px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    align-content: center;
    padding: 15px;
    grid-template-areas: "destilados   ron" "vino cerveza" "whisky contacto";
  }
  .menu .grid-item:hover .front {
    margin-top: -63%;
  }
}
@media screen and (max-width: 920px) and (max-width: 550px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    align-content: center;
    padding: 0 45px 15px 15px;
    grid-template-areas: "destilados" "ron" "vino" "cerveza" "whisky " "contacto";
  }
  .menu .grid-item:hover .front {
    margin-top: -26%;
  }
}
/* FIN ESTILOS GRID INICIO */
main {
  margin: 50px 30px 30px 50px;
}

/* ESTILOS DE PAGINAS (MAIN) */
.acercaDe {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.acercaDe h2 {
  font-size: 42px;
  margin: 35px;
  padding: 100px;
}

.conInfopag h2 {
  text-align: center;
}

/* PAGINA DESTILADOS PART 1-2 */
.parte1 {
  display: grid;
  background-image: linear-gradient(rgba(9, 61, 43, 0.7), rgba(9, 61, 43, 0.7)), url("../img/tequilabotella.jpg");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

.parte2 {
  display: grid;
  background-image: linear-gradient(rgba(9, 61, 43, 0.7), rgba(9, 61, 43, 0.7)), url("../img/mezcal1.jpg");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

/* FIN PAGINA DESTILADOS */
.contcock {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.box {
  margin: 20px;
}
.box img {
  width: 260px;
  height: 250px;
  border-radius: 10%;
  -o-object-fit: fill;
     object-fit: fill;
}

.bebCock {
  padding-top: 100px;
}
.bebCock h2 {
  text-align: center;
  padding-bottom: 100px;
}

/* FONDOS CADA PAGINA UNICAS PARTES */
.partecerv {
  display: grid;
  background-image: linear-gradient(rgba(65, 71, 12, 0.7), rgba(65, 71, 12, 0.7)), url("../img/Cerveza.png");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

.parteron {
  display: grid;
  background-image: linear-gradient(rgba(5, 31, 22, 0.7), rgba(5, 31, 22, 0.7)), url("../img/fabricaron.jpg");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

.partevino {
  display: grid;
  background-image: linear-gradient(rgba(28, 8, 50, 0.7), rgba(28, 8, 50, 0.7)), url("../img/vino1.jpeg");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

.partewhisky {
  display: grid;
  background-image: linear-gradient(rgba(50, 8, 8, 0.7), rgba(50, 8, 8, 0.7)), url("../img/barricaswhisky.jpg");
  justify-content: center;
  align-content: center;
  padding: 242px;
  margin: 100px 25px 25px 25px;
}

/* seccion de bebidas en las paginas */
.contenedorpaginas {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.titlistbeb {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: white;
}

/* efecto hover a cada una de las imagenes de bebidas */
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #1eec1e;
  -webkit-box-shadow: 0px 0px 15px 15px #751aec;
}

.multimedia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 25px;
  padding: 25px;
  text-align: center;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/Cantina.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */